<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4)), url(<%= cl_image_path @list.photo.key %>);">
  <div class="container">
    <h1>Movie Watch List</h1>
    <p>Create your own movie categories & add movies you want to watch!</p>
  </div>
</div>
