<h1>Lists</h1>

<ul><% @lists.each do |list| %>
<li><%= link_to list.name, list_path(list) %></li>
<% end %>
</ul>

<p><strong>Want to add a new list?</strong></p>
<%= link_to 'Create a Movie list', new_list_path %>

<p><strong>Want to bookmark a movie?</strong></p>
<%# <%= link_to 'Bookmark a movie', new_list_bookmark_path %> %>
