<div class="container mx-5 mt-5">
  <h2>My lists</h2>
  <p>Your favorite movies, saved in your own list categories.
  Select a category to see or change the movies on your watchlist.</p>

  <%= render 'lists' %>

   <div class="mt-3 mb-5">
    <%= link_to 'Create new Movie list', new_list_path, class: 'btn btn-gradient' %>
  </div>

</div>
