<%= render 'banner' %>


<div class="container mx-5 mt-5">
  <h2>Bookmark</h2>
  <p>Bookmarking is a very confusing term for assigning a movie to one of your lists.</p>

<p>Fill in the form to bookmark a movie on your list</p>
<%= render 'form', bookmark: @bookmark %>
